@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.form {
  display: flex;
  width: 1920px;
  flex-direction: column;
}

.form-header {
  display: flex;
  width: 1920px;
  height: 480px;
  flex-direction: row;
}

.form-header > .form-logo {
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-header > .form-logo > .logo {
  width: 1050px;
  height: 400px;
}

.form-header > .form-details {
  height: 480px;
  justify-content: center;
  align-content: center;
  font-size: 36px;
}

.form-header > .form-details > table {
  width: 870px;
}

.form-header > .form-details > table > tbody > tr {
  height: 60px;
  justify-content: center;
  text-align: center;
}

.form-header > .form-details > table > tbody > tr > td > table {
  width: 870px;
}

.form-header
  > .form-details
  > table
  > tbody
  > tr
  > td
  > table
  > tbody
  > tr
  > td {
  width: 50%;
  justify-content: center;
  text-align: center;
}

/*ES*/

.form-main > .form-items-ES > table {
  width: 1920px;
}

.form-main > .form-items-ES > table > tbody > tr {
  height: 60px;
  justify-content: center;
  text-align: center;
}

.form-main > .form-items-ES > table > tbody > tr > td:nth-child(1) {
  width: 860px;
  justify-content: center;
  text-align: center;
}

.form-main > .form-items-ES > table > tbody > tr > td:nth-child(2) {
  width: 200px;
  justify-content: center;
  text-align: center;
}

.form-main > .form-items-ES > table > tbody > tr > td:nth-child(3) {
  width: 425px;
  justify-content: center;
  text-align: center;
}

.form-main > .form-items-ES > table > tbody > tr > td:nth-child(4) {
  width: 425px;
  justify-content: center;
  text-align: center;
}

.form-main > .form-items-ES > .form-total > table {
  width: 1920px;
}

.form-main > .form-items-ES > .form-total > table > tbody > tr {
  height: 60px;
  justify-content: center;
  text-align: center;
}

.form-main
  > .form-items-ES
  > .form-total
  > table
  > tbody
  > tr
  > td:nth-child(1) {
  width: 1485px;
  justify-content: center;
  text-align: left;
}

.form-main
  > .form-items-ES
  > .form-total
  > table
  > tbody
  > tr
  > td:nth-child(2) {
  width: 425px;
  justify-content: center;
  text-align: center;
}

.form-main
  > .form-items-ES
  > .form-total
  > table
  > tbody
  > tr:nth-child(2)
  > td:nth-child(1) {
  padding-right: 5px;
}

.form-main
  > .form-items-ES
  > .form-total
  > table
  > tbody
  > tr:nth-child(1)
  > td:nth-child(2) {
  border-top: 3px solid black;
}

.form-main
  > .form-items-ES
  > .form-total
  > table
  > tbody
  > tr:nth-child(2)
  > td:nth-child(2) {
  border-bottom: 3px solid black;
  border-style: double;
}

/* Revenue Statement */

.form-main > .form-items-RS > table {
  width: 1920px;
}

.form-main > .form-items-RS > table > tbody > tr {
  height: 60px;
  justify-content: center;
  text-align: center;
}

.form-main > .form-items-RS > table > tbody > tr > td:nth-child(1) {
  width: 425px;
  justify-content: center;
  text-align: center;
}

.form-main > .form-items-RS > table > tbody > tr > td:nth-child(2) {
  width: 425px;
  justify-content: center;
  text-align: center;
}

.form-main > .form-items-RS > table > tbody > tr > td:nth-child(3) {
  width: 640px;
  justify-content: center;
  text-align: center;
}

.form-main > .form-items-RS > table > tbody > tr > td:nth-child(4) {
  width: 425px;
  justify-content: center;
  text-align: center;
}

.form-main > .form-items-RS > .form-total > table {
  width: 1920px;
}

.form-main > .form-items-RS > .form-total > table > tbody > tr {
  height: 60px;
  justify-content: center;
  text-align: center;
}

.form-main
  > .form-items-RS
  > .form-total
  > table
  > tbody
  > tr
  > td:nth-child(1) {
  width: 1485px;
  justify-content: center;
  text-align: left;
}

.form-main
  > .form-items-RS
  > .form-total
  > table
  > tbody
  > tr
  > td:nth-child(2) {
  width: 425px;
  justify-content: center;
  text-align: center;
}

.form-main
  > .form-items-RS
  > .form-total
  > table
  > tbody
  > tr:nth-child(2)
  > td:nth-child(1) {
  padding-right: 5px;
}

.form-main
  > .form-items-RS
  > .form-total
  > table
  > tbody
  > tr:nth-child(1)
  > td:nth-child(2) {
  border-top: 3px solid black;
}

.form-main
  > .form-items-RS
  > .form-total
  > table
  > tbody
  > tr:nth-child(2)
  > td:nth-child(2) {
  border-bottom: 3px solid black;
  border-style: double;
}

/* Activity Income */

.form-main > .form-items-AI > table {
  width: 1900px;
}

.form-main > .form-items-AI > table > tbody > tr {
  height: 60px;
  justify-content: center;
  text-align: center;
}

.form-main > .form-items-AI > table > tbody > tr > td > .items {
  text-align: left;
}

.form-main > .form-items-AI > table > tbody > tr > td > .items > table {
  width: 1920px;
  table-layout: fixed;
}

.form-main > .form-items-AI > table > tbody > tr > td > .items > table > tbody {
  display: flex;
  flex-direction: column;
}

.form-main
  > .form-items-AI
  > table
  > tbody
  > tr
  > td
  > .items
  > table
  > tbody
  > tr {
  height: 60px;
  justify-content: center;
  text-align: center;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.form-main
  > .form-items-AI
  > table
  > tbody
  > tr
  > td
  > .items
  > table
  > tbody
  > tr
  > td
  > :nth-child(1) {
  width: 1050px;
  justify-content: center;
  text-align: center;
}

.form-main
  > .form-items-AI
  > table
  > tbody
  > tr
  > td
  > .items
  > table
  > tbody
  > tr
  > td
  > :nth-child(2) {
  width: 430px;
  justify-content: center;
  text-align: center;
}

.form-main
  > .form-items-AI
  > table
  > tbody
  > tr
  > td
  > .items
  > table
  > tbody
  > tr
  > td
  > :nth-child(3) {
  width: 430px;
  justify-content: center;
  text-align: center;
}

.total > table {
  width: 1920px;
}

.total > table > tbody > tr {
  height: 60px;
  justify-content: center;
  text-align: center;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.total > table > tbody > tr > td > :nth-child(1) {
  width: 1480px;
  text-align: left;
}

.total > table > tbody > tr > td > :nth-child(2) {
  width: 430px;
  justify-content: center;
  text-align: center;
}

.total > table > tbody > tr:nth-child(2) > td > :nth-child(2) {
  border-bottom: 3px solid black;
}

.border-bottom {
  border-bottom: 3px solid black;
}

.border-bottom-2 {
  border-bottom: 3px solid black;
  border-style: double;
}

.income > table {
  width: 1920px;
}

.income > table > tbody > tr {
  height: 60px;
  justify-content: center;
  text-align: center;
}

.income > table > tbody > tr > td > :nth-child(1) {
  width: 1480px;
  justify-content: center;
  text-align: center;
  font-size: 42px;
}

.income > table > tbody > tr > td > :nth-child(2) {
  width: 430px;
  justify-content: center;
  text-align: center;
}

.income > table > tbody > tr:nth-child(2) > td > :nth-child(2) {
  border-bottom: 3px solid block;
  border-style: double;
}

/*Main*/

.form-main {
  display: flex;
  flex-direction: column;
  width: 1920px;
  font-size: 36px;
}

.form-info {
  display: flex;
  flex-direction: row;
  width: 1900px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-info > .form-info-title {
  margin: 5px;
  width: 390px;
}

.form-info > .form-info-description {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  width: 1490px;
}

.form-footer {
  display: flex;
  flex-direction: row;
  width: 1920px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-footer > .staff-signature {
  display: flex;
  flex-direction: column;
  width: 860px;
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.form-footer > .staff-signature > .staff-details {
  text-align: center;
}

.signature-line {
  display: block;
  height: 200px;
  border: 0;
  border-bottom: 1px solid black;
}

line {
  display: block;
  height: 5px;
  border: 0;
  border-top: 5px solid black;
  margin: 1em 0;
  padding: 0;
}

underline {
  border-bottom: 3px solid black;
  width: 100%;
  top: -10px;
  display: block;
  position: relative;
}
